.App {
  text-align: center;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* products page */
.product-card {
  flex-direction: column;
  background-color: aliceblue;
  max-width: 300px;
  padding: 10px;
}

.product--image {
  max-width: 300px;
}

.products-container {
  gap: 20px;
  justify-content: center;
}

.products-section {
  flex-basis: 75%;
}

/* products page */
/* cart */
.cart-container {
  flex-basis: 25%;
  background-color: #dfdfdf;
}

/* cart */